header{
  img{
    width: 150px;
    border-radius: 100%;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);

  }
  background-color: #6d3065;
   border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}
