.task {
  background-color: #fff1D3;
  border-radius: 20px;
  padding: 20px;
  color: #3e0035;

    button {
      background-color: #b5397b;
      color: #ffe6fb;
      transition-duration: 0.2s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
      &:hover {
        background-color: rgb(107, 7, 94);
      }
    }
}
