<div class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col-lg-3">
      <div class="item">
        @for (user of users(); track user.id) {
          <app-user [user]="user" (click)="updateSelectedUser(user)" [isSelected]="user.id==selectedUser?.id"></app-user>
        }
      </div>
    </div>
    <div class="col-lg-9">
      <div class="item">
        @if (selectedUser) {
          <app-tasks [currentUser]="selectedUser"></app-tasks>

        } @else {
          <p class="fs-2">select a user to see their tasks</p>
        }
      </div>
    </div>
  </div>
</div>
