<div class="popup" (click)="cancelPopup()">
  <div class="box" (click)="$event.stopPropagation()">
    <div class="head">
      <h3>Add task</h3>
    </div>
    <div class="body">
      <form #myForm="ngForm" ngForm (submit)="addTask(myForm)">
        <div class="form-group mb-3">
          <label for="Title">Title: </label>
          <input
            type="text"
            id="Title"
            class="form-control"
            name="title"
            #title="ngModel"
            ngModel
            required
          />
          @if (title.dirty && title.invalid && title.getError('required')) {
            <p class="alert alert-danger mt-2">this field is required</p>
          }
        </div>
        <div class="form-group mb-3">
          <label for="Summary">Summary: </label>
          <textarea
            id="Summary"
            class="form-control"
            name="summary"
            #summary="ngModel"
            ngModel
            required
          ></textarea>
          @if (summary.dirty && summary.invalid && summary.getError('required')) {
            <p class="alert alert-danger mt-2">this field is required</p>
          }
        </div>
        <div class="form-group mb-3">
          <label for="Date">Date: </label>
          <input type="date" id="Date" class="form-control" name="Date" #Date="ngModel" ngModel />
        </div>
        <div class="form-group d-flex mb-3">
          <button type="button" class="btn d-block d-block ms-auto" (click)="cancelPopup()">
            cancel
          </button>
          <button class="btn d-block d-block ms-auto">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
